* {
    font-family: 'Raleway', sans-serif;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* ----------------------------------------------------------------- */
/* INIZIO NAV */

.mt-nav-desktop {
    background-color: #ffffff;
    line-height: 65px;
    padding: 0 30px;
    vertical-align: middle;
}

.mt-nav-mobile {
    background-color: #0049ff;
    vertical-align: middle;
    line-height: 50px;
    padding: 15px 30px;
    color: white;
    font-size: 30px;
    font-weight: 700;
}

.mt-menu li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.mt-nav-desktop img {
    height: 63px;
}

#nav-sign-up {
    padding: 11px 16px 8px 16px;
    border-radius: 5px;
    border: 1px solid #408fff;
    color: #408fff;
    background-color: white;
    font-weight: 700;
}

#nav-sign-up:hover {
    background-color: #408fff;
    color: white;
}

.mt-nav-mobile {
    display:none;
}
/* ----------------------------------------------------------------- */
/* FINE NAV */
/* ----------------------------------------------------------------- */
/* INIZIO JUMBOTRON */
.mt-banner {
    background: #0049ff url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    padding-top: 165px;
}

.title-left, .form-right {
    color: white;
    padding-left: 16px;
    padding-top: 16px;
}

.title-left h1 {
    font-size: 62px;
    margin-bottom: 16px;
    font-weight: 700;
}

.title-left p {
    font-size: 24px;
}

.title-left {
    background-color:transparent;
}

.form-right {
    background-color: white;
    padding: 32px;
    color: black;
    max-width: 100%;
    border-radius: 5px;
    margin: 0 auto;
}

.form-right input {
    height: 48px;
    padding: 0 16px;
    max-width: 100%;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
}

#btn-create {
    width: 100%;
    font-size: 16px;
    color:white;
    background-color: #0069ff;
    border-radius: 5px;
    border: 1px solid;
    height: 48px;
}

#btn-create:hover {
    background-color: #1633ff;
}

.mt-span-form {
    display:block;
    margin: 30px 0;
}

.mt-span-form:before , .mt-span-form:after {
    content: "";
    display: inline-block;
    height: 1px;
    width: 15%;
    background-color: black;
    position: relative;
    bottom:5px;
}

.mt-span-form:after {
    left: 20px;
}

.mt-span-form:before {
    right: 20px;
}

.btn-google, .btn-github {
    height: 48px;
    padding: 0 50px;
    color: black;
    font-weight: 700;
    background-color: #f2f8ff;
    border: 1px solid rgba(0,105,255,.2);
    border-radius: 3px;
    margin-bottom: 16px;
}

.btn-google:hover, .btn-github:hover {
    background-color: #d5e4f7;
}

/* ----------------------------------------------------------------- */
/* FINE JUMBOTRON */
/* ----------------------------------------------------------------- */
/*INIZIO PARTNER */

.partners {
    background-color: #f3f5f9;
    text-align: center;
    color: #93a1b9;
    padding: 64px 0;
}

.partner-logo {
    height: 78px;
    margin: 30px auto;
}

.partner-logo img {
    height:100%;
    width:100%;
    object-fit: contain;
}
/* ----------------------------------------------------------------- */
/* FINE PARTNER */
/* ----------------------------------------------------------------- */
/* INIZIO DEPLOY */

.mt-deploy h2 {
    font-size: 36px;
    font-weight: 700;
}

.mt-deploy p {
    font-size: 20px;
    margin-bottom: 64px;
}

.mt-deploy-menu-left li {
    padding: 17px 10px 17px 30px;
    border-left: 2px solid #e5e8ed;
    line-height: 100%;

}

.mt-deploy-menu-left li a {
    text-decoration: none;
    color: #818da6;
}

.mt-deploy-menu-left li:hover, .mt-deploy-menu-left li a:hover {
    color: #031b4e;
    border-left-color: #0069ff;
}

.mt-deploy-testo h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
}

.mt-deploy-testo i {
    height: 40px;
    width: 40px;
    font-size: 40px;
}

/* ----------------------------------------------------------------- */
/* FINE DEPLOY */
/* ----------------------------------------------------------------- */
/* INIZIO DESIGN */
.mt-design {
    background-color: #f3f5f9;
}

.mt-design h2 {
    color: rgb(3, 27, 78);
    font-size: 36px;
    margin-bottom:45px;
}

.mt-design p {
    font-size:25px;
    color: rgb(3, 27, 78);
    margin-bottom: 64px;
    line-height: bold;
}

.mt-design-img img {
    height: 560px;
}

.mt-design-img p {
    margin-top: 20px;
    font-size: 16px;
}

/* ----------------------------------------------------------------- */
/* FINE DESIGN */
/* ----------------------------------------------------------------- */
/* INIZIO BUSINESS */
.mt-business {
    color: #031b4e;
    vertical-align: middle;
    margin: 0 auto;
}

.mt-business h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 16px;
}

.mt-business-scheda i {
    height: 40px;
    width: 40px;
}

.business-p-titolo {
    font-size: 18px;
    font-weight: 500;
}

.business-p-testo {
    margin: 16px 0;
    line-height: 24px;
    font-size: 16px;
}

.mt-business-scheda i {
    font-size: 40px;
}

.mt-business-scheda a {
    text-decoration: none;
    color: #5d69ff;
    font-weight: 700;
}

.mt-business-scheda a:hover {
    color: #005fe6;
}

/* ----------------------------------------------------------------- */
/* FINE BUSINESS */
/* ----------------------------------------------------------------- */
/* INIZIO WORLD */

.mt-world {
    background: #031b4e url("https://www.digitalocean.com/assets/media/homepage/data-center-map-20321538.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.mt-world h2 {
    font-size: 36px;
    color: white;
    font-weight: 700;
    margin-bottom: 16px;
}

.data-center {
    vertical-align: middle;
    border-bottom: 1px solid #354971;
    height: 40px;
    line-height: 40px;
    color: white;
    font-size: 13px;
}

.mt-label {
    text-transform: uppercase;
}

.data-center:last-child {
    border-bottom: none;
}

.data-center a {
    text-decoration: none;
    color: #00d7d2;
}

.data-center a:hover {
    color: #005fe6;
}

.data-center a, .data-center h4 {
    font-weight: 700;
}

.data-center p {
    color: ##9aa4b8;
}
/* ----------------------------------------------------------------- */
/* FINE WORLD */
/* ----------------------------------------------------------------- */
/* INIZIO TEAMS */
.mt-teams {
    background-color: #f3f5f9;
    color: #031b4e;
}

.mt-teams h2 {
    font-size: 36px;
    margin-bottom: 16px;
    font-weight: 700;
}

.mt-teams p {
    font-size: 20px;
    margin: 16px 0;
}

.mt-teams-blocco {
    background-color: white;
    padding: 32px;
    border: 1px solid #e5e8ed;
    border-radius: 5px;
}

.mt-teams-blocco img {
    max-width: 175px;
    margin: 0 auto 32px auto;
}

.mt-teams-blocco p {
    font-size: 24px;
}

.mt-teams-blocco small {
    display: block;
    margin-bottom: 32px;
}
/* ----------------------------------------------------------------- */
/* INIZIO STARTED */
.started {
    padding: 64px 0;
    background: #0248ff url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
    background-repeat: no-repeat;
    color:white;
    line-height: 48px;
}

.started h2 {
    font-size: 30px;
    margin-bottom: 16px;
}

#btn-account2 {
    color:#0069ff;
    background-color: white;
    border-radius: 5px;
    padding: 12px 32px;
    font-size: 20px;
    font-weight: 700;
}

#btn-account2:hover {
    background-color: hsla(0,0%,100%,.8);
    border: none;
    color: #0069ff;
}
/* ----------------------------------------------------------------- */
/* FINE STARTED */
/* ----------------------------------------------------------------- */
/* INIZIO FOOTER */

footer {
    background-color: #010e28;
    color: ##6d8794;
    padding: 96px 0;
}

.mt-list-box li {
    line-height: 21px;
}

.mt-list-box p {
    color:white;
    margin-bottom: 14px;
}

.mt-list-box a {
    text-decoration: none;
    color: #6d8794;
}

.mt-list-box a:hover {
    color:white;
}

.mt-footer {
    display: inline-block;
    padding: 0 30px;
    vertical-align: middle;
    height: 330px;
}

.mt-footer:last-child {
    height:auto;
}
/* ----------------------------------------------------------------- */
/* FINE FOOTER */
/* ----------------------------------------------------------------- */
/* INIZIO  SUBFOOTER */
.mt-subfooter {
    margin-top: 80px;
    border-top: 1px solid hsla(0,0%,100%,.2);
    text-align: center;
}

.mt-subfooter-logo {
    padding: 32px 0 0 32px;
}

.mt-subfooter-icons {
    padding: 32px 32px 0 0;
}

.mt-subfooter-icons i {
    font-size: 21px;
    padding: 0 10px;
}

.mt-subfooter-icons a, .mt-subfooter-logo p {
    color: #6d8794;
}

.mt-subfooter-icons a:hover {
    color:white;
}
/* ----------------------------------------------------------------- */
/* FINE SUBFOOTER */
/* ----------------------------------------------------------------- */
/* INIZIO MEDIA */

@media screen and (max-width:991px) {
    .mt-deploy-menu-left li {
        display:inline;
        border-top: 2px solid #e5e8ed;
        border-left: none;
        text-align: left;
        padding: auto;
    }

    .mt-deploy-menu-left li:hover, .mt-deploy-menu-left li a:hover {
        color: #031b4e;
        border-top-color: #0069ff;
    }

    .mt-deploy-menu-left {
        margin: 0 auto 32px;;
    }

    .mt-footer {
        margin-bottom: 30px;
        vertical-align: baseline;
    }

    .mt-world-table {
        margin-bottom: 50px;
    }

    .mt-business-scheda {
        margin-top: 30px;
    }

    .mt-subfooter {
        margin-top: 20px;
    }
}


@media screen and (max-width: 1049px) {
    .mt-nav-desktop {
        display:none;
    }

    .mt-nav-mobile {
        display: block;
    }
}
